* {
    box-sizing: border-box;
}
html {
    height:100%;
}

body {
    display:flex;
    flex-direction: column;
    padding:0px;
    margin:0px;
    background-color: @primary-background-color;
    color: @primary-text-color;
    min-height: 100vh;
}

footer, header {
    background-color: @secondary-background-color;
    color: @secondary-text-color;
}
main {
    flex:1;
}

.content {
    max-width:1300px;
    padding:1rem;
    margin:0px auto;
}