@primary-background-color : #F4F3F0;
@secondary-background-color: #0A0A0F;

@primary-text-color: #333;
@secondary-text-color: #F0EDE6;

@accent-background-color: #3D5B99;
@accent-text-color: #8FA89B;

#break-points {
    tablet: 768px;
    desktop: 1025px;
    wide: 2300px;
}