<section class="cards-holder grid">
    <div class="row justify-center">
        {{#each card-data-set}}
        <div class="col-12 col-md-6 col-lg-4 justify-center">
           {{> card this}}
        </div>
        {{/each}}
    </div>
</section>