<header>
      <section>
        <h1>Fan Spot App</h1>
      </section>
      <nav class="nav-links">
        <ul class="nav-links">
          <li><a href="#como">Cómo Funciona</a></li>
          <li><a href="#funciones">Integraciones</a></li>
          <li><a href="#precios">Precios</a></li>
          <li><a href="#cta" class="btn-nav">Obtener Acceso</a></li>
        </ul>
      </nav>
    </header>