.cards-holder {
    background-color: @primary-background-color;
    padding:1rem;

    .card {
        width:320px;
        padding: 1rem;
        border:1px solid @secondary-background-color;
        box-shadow: 2px 2px 5px @secondary-background-color;
        background-color: @accent-background-color;
        background-image: linear-gradient(@accent-background-color, @primary-background-color);
        margin: 1rem 0px 0px 0px;
        border-radius: 7px;
        display:flex;
        flex-direction: column;

        .card-header {
             img {
                width:100%;
                height: 180px;
                object-fit: cover;
                object-position: bottom center;
                border: 4px solid @accent-background-color;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
                border-bottom: none;
            }
            span {
                display: block;
                text-align: center;
                padding: 0.25rem 0.5rem;
                background-color: @accent-background-color;
                margin-top: -4px;
                border-bottom-left-radius: 9px;
                border-bottom-right-radius: 9px;
                font-weight: bolder;
            }
        }
        .card-footer {
             .card-footer-big-label{
                font-size: 1.3rem;
                font-weight: bolder;
            }

            .card-footer-cta{
                display: inline-block;
                padding:0.5rem 0.7rem;
                border-radius: 13px;
                background: darken(@accent-background-color, 30%);
                color: darken(@accent-background-color, 80%);
                margin-top:1px;
            }
        }
        .card-half {
            display:flex;
            align-items: center;
            width:100%;
        

            .card-body {
                flex:1;
                flex-basis: 60%;
                margin-top:0.5rem;
            }

            .card-body h2 {
                font-size: 1rem;
                font-weight: 1px;
                margin: 0.5rem 0px;
            }
            .card-footer {
                flex:1;
                flex-basis: 40%;
                justify-content: center;
            }
        }
    }
}