.tabla-productos {
    padding: 1rem;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid @primary-text-color;
        padding: 0.5rem;
        text-align: left;
    }

    th {
        background-color: @secondary-background-color;
        color: @secondary-text-color;
    }
}